@model IEnumerable<BankOrderSys.Models.OrderFormView>
@using Microsoft.AspNet.Identity

<div class="row">
    <h2>Список ваших заявок на инкасацию. 
            <button class="btn btn-default btn-lg pull-right" 
                    style="display:inline-block"
                    onclick="window.location.href = '/Home/AddOrder';">
                Создать новую заявку
            </button>
    </h2>
    <p>Для просмотра или редактирования выберете элемент из таблицы заявок</p> 
    <div class="col-md-12">
        @Html.Partial("FilterBar");
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th onclick="window.location.href = '/Home/Index?sort=1';" style="cursor:pointer">Номер</th>
                    <th onclick="window.location.href = '/Home/Index?sort=0';" style="cursor:pointer">Дата</th>
                    <th onclick="window.location.href = '/Home/Index?sort=2';" style="cursor:pointer">Статус</th>
                    <th>Тип заявки</th>
                    <th>Подразделение банка</th>
                    <th>Название организации</th>
                    <th>Название банка</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    string fmt = "00000";
                    int count = 0;
                    int i = 0;
                }
                        @foreach (var a in Model)
                        {
                            if (a.user_name == User.Identity.GetUserName() || ViewBag.admin )
                            {
                                count++;
                                <tr onclick="window.location.href = '/Home/EditOrder?index=@a.id';"
                                    style="cursor:pointer">
                                    <td>2-@a.id.ToString(fmt)</td>
                                    <td>@a.date</td>
                                    <td>@a.status</td>
                                    <td>@a.type</td>
                                    <td>@a.bank_dep</td>
                                    <td>@a.title_org</td>
                                    <td>@a.title_bank</td>
                                    @{
                                        if (ViewBag.admin)
                                        {
                                            <td  onclick="window.location.href = '/Home/Sign?id=@a.id';event.stopPropagation()" >
                                                <button class="btn btn-default">Подписать</button>
                                            </td>
                                        }
                                    }
                                </tr>

                            }
                            i++;
                        }
                @{ 
                    if(count == 0 )
                    {
                        <tr>
                            <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        @{
            if (count == 0)
            {
                <p>К сожалению у вас нет заявок</p>
            }
        }
    </div>
</div>