@model IEnumerable<BankOrderSys.Models.ItemList>
@{
    ViewBag.Title = "Lists";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@helper drawList( string title, int type){
    <div class="col-md-6">
        <form>
            <h3>@title <button class="btn btn-default btn-lg" 
                               style="float:right;padding-top:6px;padding-bottom:10px"
                               type="button"
                               onclick="window.location.href = '/Home/Lists?act=1&type=@type';">
                                    Добавить
                        </button>
            </h3>
            <div class="list-group">
                @foreach (var a in Model){
                    if (a.type == type){
                        <a href="#" class="list-group-item">
                            <div class="item-info">
                                <big>@a.title</big>
                            </div>
                            <div class="item-edit">
                                <input class="form-control" 
                                       type="text"
                                       name="@a.id"
                                       value="@a.title"
                                       id="input_@a.id" 
                                       style="display:inline-block;width:50%" />
                                <div class="btn-group" style="width:49%;display:inline-block;">
                                    <button class="btn btn-default" 
                                            style="width:50%"
                                            type="button" 
                                            onclick="window.location.href='/Home/Lists?act=3&id=@a.id&value=' + $('#input_@a.id').val();">
                                        Сохранить
                                    </button>
                                    <button class="btn btn-default" 
                                            style="width:50%"
                                            type="button" 
                                            onclick="window.location.href='/Home/Lists?act=2&id=@a.id';">
                                        Удалить
                                    </button>
                                </div>
                            </div>
                        </a>
                    }
                }
            </div>
        </form>
    </div>
}

<div class="col-md-12">
    <div class="row">
        @drawList("Инкассаторские услуги", 0)
        @drawList("Типы заявок на инкассацию",1)
    </div>

    <div class="row">
        @drawList("Способы сдачи наличности", 2)
        @drawList("Переодичность оказания услуг",3)
    </div>
</div>
