@model BankOrderSys.Models.OrderFormView
@using BankOrderSys.Models
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "AddOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel panel-default">
        <div class="panel-heading" style="overflow-y:auto; padding-left:0px; margin-left:0px">
            <div class="col-md-12">
                <div class="col-md-5" style="padding-left:0px; margin-left:0px; text-align:center">
                    <h4>
                        <b>
                            Форма создания новой заявки
                        </b>
                    </h4>
                </div>
                <div class="col-md-7">
                    <div class="btn-group pull-right">
                        @{
                            string title = "Отправить заявку";
                            string adress = "AddOrder";

                            if (ViewBag.edit_type == 1)
                            {
                                title = "Сохранить изменения";
                                adress = "EditOrder";
                            }

                            if ( Model.status == "В обработке" || Model.status == null )
                            {
                                <button type="submit"
                                       class="btn btn-default btn-lg"
                                       formmethod="post"
                                       formaction="/Home/@adress">
                                    @title
                                </button>

                                if (ViewBag.edit_type == 1)
                                {
                                    <button type="submit"
                                           class="btn btn-default btn-lg"
                                           formmethod="post"
                                           formaction="/Home/DelOrder">
                                        Удалить заявку
                                    </button>
                                }

                            }
                                <button class="btn btn-default btn-lg"
                                        type="button"
                                        onclick="window.location.href = '/Home/Index';">
                                    Назад на главную
                                </button>

                        }

                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.type, htmlAttributes: new { @class = "control-label" })
                <select class="form-control" name="type" value="@Model.type" required>
                    <option></option>
                    @foreach (var a in ViewBag.type_order_l)
                    {

                        string str = "";
                        if (a == Model.type)
                        { str = "selected"; }

                        <option @str>@a</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.type, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.bank_dep, htmlAttributes: new { @class = "control-label" })
                <select class="form-control" name="bank_dep" required>
                    <option></option>
                    @foreach (var a in ViewBag.bank_dep_l)
                    {

                        string str = "";
                        if (a == Model.bank_dep)
                        { str = "selected"; }

                        <option @str>@a</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.BIK, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-12">
                <div class="panel-group" id="accordion">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                    + Информация о клиенте
                                </a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse">
                            <div class="panel-body">
                                @Html.Partial("OrderFormParts/ClientInfo", Model)
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                    + Данные уполномоченного сотрудника организации клиента для решения вопросов организации инкассации
                                </a>
                            </h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse">
                            <div class="panel-body">
                                @Html.Partial("OrderFormParts/WorkerInfo", Model)
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                    + Данные банка и счета клиента
                                </a>
                            </h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse">
                            <div class="panel-body">
                                @Html.Partial("OrderFormParts/BankInfo", Model)
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" style="overflow-y:auto; padding-left:0px; margin-left:0px">
                                <div class="col-md-12">
                                    <div class="col-md-7" style="padding-left:0px; margin-left:0px">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                                + Обьекты инкасации
                                            </a>
                                        </h4>
                                    </div>
                                        <div class="col-md-5">
                                            <div class="btn-group">
                                                <button type="submit" value=":vzryb" formmethod="post" formaction="/Home/AddObj?edit_type=@ViewBag.edit_type" class="btn btn-default">
                                                    Добавить объект
                                                </button>
                                                <button type="submit" value=":vzryb" formmethod="post" formaction="/Home/DelObj?edit_type=@ViewBag.edit_type" class="btn btn-default">
                                                    Удалить последний объект
                                                </button>
</div>
                                        </div>
                                </div>
                        </div>
                        <div id="collapse4" class="panel-collapse collapse in">
                            <div class="panel-body">
                                @Html.Partial("OrderFormParts/ObjectsList", Model)
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @{
                if (ViewBag.edit_type == 1)
                {
                    <input type="hidden" name="id" value="@Model.id" />
                    <input type="hidden" name="date" value="@Model.date" />
                    <input type="hidden" name="user_name" value="@Model.user_name" />
                    <input type="hidden" name="status" value="@Model.status" />
                }
                else
                {
                    <input type="hidden" name="date" value="@DateTime.Today.Date.ToString().Split(' ')[0]" />
                    <input type="hidden" name="user_name" value="@User.Identity.GetUserName()" />
                    <input type="hidden" name="status" value="В обработке" />
                }
            }


        </div>
    </div>


}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
