@model BankOrderSys.Models.OrderFormView

<div class="form-group col-md-6">
    @Html.LabelFor(model => model.INN_KIO, htmlAttributes: new { @class = "control-label" })
    <input name="INN_KIO" 
           class="form-control req" 
           type="text" 
           value="@Model.INN_KIO" />
    @Html.ValidationMessageFor(model => model.INN_KIO, "", new { @class = "text-danger" })
</div>

<div class="form-group col-md-6">
    @Html.LabelFor(model => model.kpp, htmlAttributes: new { @class = "control-label" })
    <input name="kpp" 
           class="form-control" 
           type="text" 
           value="@Model.kpp" />
    @Html.ValidationMessageFor(model => model.kpp, "", new { @class = "text-danger" })
</div>

<div class="form-group col-md-6">
    @Html.LabelFor(model => model.OGRN, htmlAttributes: new { @class = "control-label" })
    <input name="OGRN" 
           class="form-control" 
           type="text" 
           value="@Model.OGRN" />
    @Html.ValidationMessageFor(model => model.OGRN, "", new { @class = "text-danger" })
</div>

<div class="form-group col-md-6" style="visibility:hidden;">
    <label for="usr">ОГРН</label>
    <input type="number" class="form-control">
</div>

<div class="form-group col-md-12">
    @Html.LabelFor(model => model.title_org, htmlAttributes: new { @class = "control-label" })
    <textarea name="title_org" 
              class="form-control req" 
              rows="3">
        @Model.title_org
    </textarea>
    @Html.ValidationMessageFor(model => model.title_org, "", new { @class = "text-danger" })
</div>