@using BankOrderSys.Models
@model BankOrderSys.Models.OrderFormView

@{
    ObjectIncasation item = new ObjectIncasation();
    Model.obj_list.Add(item);
}


<div>
<table class="table table-striped">
 <thead>
     <tr>

     </tr>
 </thead>
       <tbody>
        <tr>
            <td>Желательное время сдачи наличных (самостоятельно)/ время прибытия инкассаторов в организацию</td>
        </tr>
        <tr>
            <td>Способ сдачи денежной наличности</td>
        </tr>
        <tr>
            <td>Периодичность оказания инкассаторских услуг</td>
        </tr>
        <tr>
            <td>День недели</td>
        </tr>
        <tr>
            <td>Предполагаемый объем денежной наличности для инкассации</td>
        </tr>
        <tr>
            <td>Код валюты</td>
        </tr>
        <tr>
            <td>Руководитель объекта</td>
        </tr>
        <tr>
            <td>Желательная дата начала обслуживания/Дата открытия торговой точки клиента</td>
        </tr>
        <tr>
            <td>Рабочие с</td>
        </tr>
        <tr>
            <td>Субота</td>
        </tr>
        <tr>
            <td>Воскресенье с</td>
        </tr>
        <tr>
            <td>Тип адреса</td>
        </tr>
        <tr>
            <td>Тип населенного пункта</td>
        </tr>
        <tr>
            <td>Наименование населенного пункта</td>
        </tr>
        <tr>
            <td>Улица</td>
        <tr>
            <td>Номер дома (владение)</td>
        </tr>
        <tr>
            <td>Корпус (строение)</td>
        </tr>
        <tr>
            <td>Инкассаторская услуга</td>
        </tr>
    </tbody>
</table>
    <tbody>
        @foreach (var a in Model.obj_list)
        {
            <tr>
                <td>@a.time</td>
                <td>@a.type_get_money</td>
                <td>@a.period</td>
                <td>@a.week_day</td>
                <td>@a.count_money</td>
                <td>@a.num_bank_score</td>
                <td>@a.code_money</td>
                <td>@a.boss_object</td>
                <td>@a.start_data</td>
                <td>@a.type_adress</td>
                <td>@a.type_city</td>
                <td>@a.title_city</td>
                <td>@a.title_street</td>
                <td>@a.num_build</td>
                <td>@a.title_part</td>
                <td>@a.type_order</td>
                <td>@a.title_street</td>
                <td>@a.num_build</td>
                <td>@a.type_order</td>
            </tr>
        }
    </tbody>
</table>
</div>