@model BankOrderSys.Models.OrderFormView

<div class="form-group col-md-12">
    @Html.LabelFor(model => model.phone_worker, htmlAttributes: new { @class = "control-label" })
    @Html.EditorFor(model => model.phone_worker, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
    @Html.ValidationMessageFor(model => model.phone_worker, "", new { @class = "text-danger" })
</div>

<div class="form-group col-md-12">
    @Html.LabelFor(model => model.name_worker, htmlAttributes: new { @class = "control-label" })
    @Html.TextArea("name_worker", htmlAttributes: new { @class = "form-control", @rows = "3" })
    @Html.ValidationMessageFor(model => model.name_worker, "", new { @class = "text-danger" })
</div>
