@model BankOrderSys.Models.OrderFormView

<div class="form-group col-md-12">
    @Html.LabelFor(model => model.phone_worker, htmlAttributes: new { @class = "control-label" })
    <input name="phone_worker" class = "form-control" type = "text" required value="@Model.phone_worker" title="Номер телефона для связи" />
    @Html.ValidationMessageFor(model => model.phone_worker, "", new { @class = "text-danger" })
</div>

<div class="form-group col-md-12">
    @Html.LabelFor(model => model.name_worker, htmlAttributes: new { @class = "control-label" })
    <textarea  name="name_worker" 
              class = "form-control" 
              required 
              rows = "3" 
              title="ФИО, Должность">
        @Model.name_worker
    </textarea>
    @Html.ValidationMessageFor(model => model.name_worker, "", new { @class = "text-danger" })
</div>
